.section-title {
  margin-bottom: 50px;
  font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  @include tablet {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  @include desktop {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}