.cardlist {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.cardlist__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  
  
}
.cardlist__item {
  width: 100%;
  text-align: left;
  @include tablet {
    width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
      }
}
.cardlist__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--primary-text-color);
    @include tablet {
      text-align: left;
      }
      @include desktop {
        text-align: left;
        }
}

.cardlist__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.cardlist__picture {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f4fa;
}
.cardlist__icon {
  align-items: center;
  justify-content: center;
}
