.hero {
  padding-top: 0px;
  padding-bottom: 0px;
  
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-color: #2f303a;
}

.hero-title {
  padding-top: 118px;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @include tablet {
    font-size: 26px;
  }  
  @include desktop {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }
  color: var(--primary-white-color);
}

.button.hero {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  @include desktop {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  }
  color: var(--secondary-text-color);
  background-color: var(--color-btn-primery);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans), color var(--trans);
  &:hover,
  &:focus {
    color: var(--primary-text-color);
    background-color: var(--title-text-color);
    outline: transparent;
  }
}

.overlay {
  height: 400px;
  max-width: 480px;
  @include tablet {
    height: 400px;
  max-width: 768px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-tab.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tab-2x.jpg);
    }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  }
  @include desktop {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-hero.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desk-2x.jpg);
    }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  }
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mob.jpg);
    @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mob-2x.jpg);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}
